In [10]:
import sys
from pathlib import Path

import numpy as np
import pandas as pd

# If you installed scipy, this will work. If not, see fallback below.
try:
    import scipy.stats as stats
    SCIPY_AVAILABLE = True
except Exception:
    SCIPY_AVAILABLE = False

# Make src importable
sys.path.append("../src")

from data_loader import LeadDataLoader


# ----------------------------
# 0) Load data
# ----------------------------
DATA_PATH = "../data/raw/Lead Scoring.csv"
loader = LeadDataLoader(DATA_PATH)
df = loader.load_data()

print("Loaded:", Path(DATA_PATH).name)
print("Shape:", df.shape)
df.head()


# ----------------------------
# 1) Quick ID integrity checks
# ----------------------------
ID_COLS = ["Prospect ID", "Lead Number"]
TARGET_COL = "Converted"

print("\n# ID integrity")
for col in ID_COLS:
    if col in df.columns:
        print(f"{col}: missing={df[col].isna().sum()}, duplicates={df[col].duplicated().sum()}, n_unique={df[col].nunique(dropna=False)}")
    else:
        print(f"{col}: NOT FOUND")


# ----------------------------
# 2) Missing values overview
# ----------------------------
print("\n# Missing values (top 25)")
missing_df = (
    df.isna().sum().to_frame("missing_count")
      .assign(missing_pct=lambda x: x["missing_count"] / len(df) * 100)
      .sort_values("missing_count", ascending=False)
)
display(missing_df.head(25))

# Only columns with missing
display(missing_df[missing_df["missing_count"] > 0])


# ----------------------------
# 3) Detect "pseudo-missing" tokens in object columns
# ----------------------------
PSEUDO_MISSING_TOKENS = [
    "Select", "Not Provided", "None", "", " "
]

obj_cols = df.select_dtypes(include=["object"]).columns.tolist()

def find_pseudo_missing(df, columns, tokens):
    hits = []
    for col in columns:
        s = df[col].astype(str)
        for token in tokens:
            # token == "" is special: any string contains ""
            if token == "":
                # identify truly empty strings
                has = (df[col] == "").any()
            elif token == " ":
                has = (df[col] == " ").any()
            else:
                has = s.str.contains(token, case=False, na=False).any()
            if has:
                hits.append((col, token))
    return pd.DataFrame(hits, columns=["column", "token"]).sort_values(["column", "token"])

pseudo_hits = find_pseudo_missing(df, obj_cols, PSEUDO_MISSING_TOKENS)
print("\n# Pseudo-missing token hits")
display(pseudo_hits)


# ----------------------------
# 4) Helper: show top values per column (useful for leakage clues)
# ----------------------------
def show_top_values(df, col, top_n=15):
    print(f"\n===== {col} =====")
    print("dtype:", df[col].dtype)
    print("n_unique (incl NaN):", df[col].nunique(dropna=False))
    display(df[col].value_counts(dropna=False).head(top_n))

# Example: uncomment to inspect a few columns
# for c in ["Lead Quality", "Tags", "Lead Profile", "Last Activity", "Last Notable Activity"]:
#     if c in df.columns:
#         show_top_values(df, c)


# ----------------------------
# 5) Leakage/Missingness test: is_missing vs Converted
# ----------------------------
def missing_vs_conversion(df, col, target=TARGET_COL):
    tmp = df[[col, target]].copy()
    tmp["is_missing"] = tmp[col].isna()

    agg = tmp.groupby("is_missing")[target].agg(count="count", conversion_rate="mean")
    agg["conversion_rate"] = agg["conversion_rate"].round(4)
    agg["count_pct"] = (agg["count"] / len(df) * 100).round(2)

    # Lift: conv(not missing) - conv(missing)
    if set(agg.index) == {False, True}:
        lift = float(agg.loc[False, "conversion_rate"] - agg.loc[True, "conversion_rate"])
    else:
        lift = np.nan

    print(f"\n==== Missingness vs Conversion: {col} ====")
    display(agg)

    print("Lift (not-missing minus missing):", round(lift, 4))
    return agg, lift

def missing_chi2(df, col, target=TARGET_COL):
    if not SCIPY_AVAILABLE:
        print(f"{col}: scipy not available -> skipping chi2. (Install scipy or use the fallback below.)")
        return None

    tmp = df[[col, target]].copy()
    tmp["is_missing"] = tmp[col].isna()

    contingency = pd.crosstab(tmp["is_missing"], tmp[target])
    # if a row/col is missing (rare), ensure full 2x2
    contingency = contingency.reindex(index=[False, True], columns=[0, 1], fill_value=0)

    chi2, p, dof, expected = stats.chi2_contingency(contingency)
    return {"chi2": chi2, "p_value": p, "dof": dof, "contingency": contingency, "expected": expected}

def run_leakage_missingness_suite(df, cols, target=TARGET_COL):
    rows = []
    for col in cols:
        if col not in df.columns:
            print(f"Skipping (not found): {col}")
            continue

        agg, lift = missing_vs_conversion(df, col, target=target)

        chi2_out = missing_chi2(df, col, target=target)
        if chi2_out is not None:
            p = chi2_out["p_value"]
            rows.append({
                "column": col,
                "missing_count": int(df[col].isna().sum()),
                "missing_pct": float(df[col].isna().mean() * 100),
                "conv_rate_missing": float(agg.loc[True, "conversion_rate"]) if True in agg.index else np.nan,
                "conv_rate_not_missing": float(agg.loc[False, "conversion_rate"]) if False in agg.index else np.nan,
                "lift_not_missing_minus_missing": float(lift),
                "chi2_p_value": float(p),
            })
        else:
            rows.append({
                "column": col,
                "missing_count": int(df[col].isna().sum()),
                "missing_pct": float(df[col].isna().mean() * 100),
                "conv_rate_missing": float(agg.loc[True, "conversion_rate"]) if True in agg.index else np.nan,
                "conv_rate_not_missing": float(agg.loc[False, "conversion_rate"]) if False in agg.index else np.nan,
                "lift_not_missing_minus_missing": float(lift),
                "chi2_p_value": np.nan,
            })

    result = pd.DataFrame(rows).sort_values("missing_pct", ascending=False)
    # format
    result["missing_pct"] = result["missing_pct"].round(2)
    result["lift_not_missing_minus_missing"] = result["lift_not_missing_minus_missing"].round(4)
    if "chi2_p_value" in result.columns:
        result["chi2_p_value"] = result["chi2_p_value"].map(lambda x: np.nan if pd.isna(x) else float(x))
    return result


# ----------------------------
# 6) Choose columns to check for leakage via missingness
# (based on your missingness results)
# ----------------------------
COLS_TO_CHECK = [
    "Lead Quality",
    "Asymmetrique Profile Index",
    "Asymmetrique Activity Score",
    "Asymmetrique Activity Index",
    "Asymmetrique Profile Score",
    "Tags",
    "What matters most to you in choosing a course",
    "Lead Profile",
    "What is your current occupation",
    "Country",
    "How did you hear about X Education",
    "Specialization",
    "City",
    "Page Views Per Visit",
    "TotalVisits",
    "Last Activity",
    "Lead Source",
    "Last Notable Activity",
]

leakage_missingness_report = run_leakage_missingness_suite(df, COLS_TO_CHECK, target=TARGET_COL)
print("\n# Missingness -> potential leakage report")
display(leakage_missingness_report)


# ----------------------------
# 7) Optional: Inspect top values for the most suspicious columns
# (high missing + big lift)
# ----------------------------
# Pick top 5 by absolute lift (if available)
tmp_report = leakage_missingness_report.copy()
tmp_report["abs_lift"] = tmp_report["lift_not_missing_minus_missing"].abs()
top_suspects = tmp_report.sort_values("abs_lift", ascending=False).head(5)["column"].tolist()

print("\n# Top suspects by absolute lift (inspect values):", top_suspects)

for col in top_suspects:
    if col in df.columns:
        show_top_values(df, col, top_n=20)


# ----------------------------
# 8) Fallback if scipy isn't installed (optional)
# This section only runs if SCIPY_AVAILABLE is False.
# It provides a quick, non-chi2 indicator using difference in rates.
# ----------------------------
if not SCIPY_AVAILABLE:
    print("\nNOTE: scipy is not installed. You can install it via:")
    print("  pip install scipy")
    print("\nUntil then, rely on lift + counts to judge missingness association.")

Loaded: Lead Scoring.csv
Shape: (9240, 37)

# ID integrity
Prospect ID: missing=0, duplicates=0, n_unique=9240
Lead Number: missing=0, duplicates=0, n_unique=9240

# Missing values (top 25)

                                               missing_count  missing_pct
Lead Quality                                            4767    51.590909
Asymmetrique Profile Index                              4218    45.649351
Asymmetrique Activity Score                             4218    45.649351
Asymmetrique Activity Index                             4218    45.649351
Asymmetrique Profile Score                              4218    45.649351
Tags                                                    3353    36.287879
What matters most to you in choosing a course           2709    29.318182
Lead Profile                                            2709    29.318182
What is your current occupation                         2690    29.112554
Country                                                 2461    26.634199
How did you hear about X Education                      2207    23.885281
Specialization                                          1438    15.562771
City                                                    1420    15.367965
Page Views Per Visit                                     137     1.482684
TotalVisits                                              137     1.482684
Last Activity                                            103     1.114719
Lead Source                                               36     0.389610
Do Not Email                                               0     0.000000
Lead Origin                                                0     0.000000
Lead Number                                                0     0.000000
Prospect ID                                                0     0.000000
Newspaper                                                  0     0.000000
X Education Forums                                         0     0.000000
Newspaper Article                                          0     0.000000
Magazine                                                   0     0.000000

                                               missing_count  missing_pct
Lead Quality                                            4767    51.590909
Asymmetrique Profile Index                              4218    45.649351
Asymmetrique Activity Score                             4218    45.649351
Asymmetrique Activity Index                             4218    45.649351
Asymmetrique Profile Score                              4218    45.649351
Tags                                                    3353    36.287879
What matters most to you in choosing a course           2709    29.318182
Lead Profile                                            2709    29.318182
What is your current occupation                         2690    29.112554
Country                                                 2461    26.634199
How did you hear about X Education                      2207    23.885281
Specialization                                          1438    15.562771
City                                                    1420    15.367965
Page Views Per Visit                                     137     1.482684
TotalVisits                                              137     1.482684
Last Activity                                            103     1.114719
Lead Source                                               36     0.389610

# Pseudo-missing token hits

                               column         token
4                                City        Select
1  How did you hear about X Education        Select
3                        Lead Profile        Select
0                      Specialization        Select
2                                Tags  Not Provided

==== Missingness vs Conversion: Lead Quality ====

            count  conversion_rate  count_pct
is_missing
False        4473           0.5672      48.41
True         4767           0.2148      51.59

Lift (not-missing minus missing): 0.3524

==== Missingness vs Conversion: Asymmetrique Profile Index ====

            count  conversion_rate  count_pct
is_missing
False        5022           0.3799      54.35
True         4218           0.3919      45.65

Lift (not-missing minus missing): -0.012

==== Missingness vs Conversion: Asymmetrique Activity Score ====

            count  conversion_rate  count_pct
is_missing
False        5022           0.3799      54.35
True         4218           0.3919      45.65

Lift (not-missing minus missing): -0.012

==== Missingness vs Conversion: Asymmetrique Activity Index ====

            count  conversion_rate  count_pct
is_missing
False        5022           0.3799      54.35
True         4218           0.3919      45.65

Lift (not-missing minus missing): -0.012

==== Missingness vs Conversion: Asymmetrique Profile Score ====

            count  conversion_rate  count_pct
is_missing
False        5022           0.3799      54.35
True         4218           0.3919      45.65

Lift (not-missing minus missing): -0.012

==== Missingness vs Conversion: Tags ====

            count  conversion_rate  count_pct
is_missing
False        5887           0.4629      63.71
True         3353           0.2493      36.29

Lift (not-missing minus missing): 0.2136

==== Missingness vs Conversion: What matters most to you in choosing a course ====

            count  conversion_rate  count_pct
is_missing
False        6531           0.4886      70.68
True         2709           0.1366      29.32

Lift (not-missing minus missing): 0.352

==== Missingness vs Conversion: Lead Profile ====

            count  conversion_rate  count_pct
is_missing
False        6531           0.4886      70.68
True         2709           0.1366      29.32

Lift (not-missing minus missing): 0.352

==== Missingness vs Conversion: What is your current occupation ====

            count  conversion_rate  count_pct
is_missing
False        6550           0.4872      70.89
True         2690           0.1375      29.11

Lift (not-missing minus missing): 0.3497

==== Missingness vs Conversion: Country ====

            count  conversion_rate  count_pct
is_missing
False        6779           0.3666      73.37
True         2461           0.4372      26.63

Lift (not-missing minus missing): -0.0706

==== Missingness vs Conversion: How did you hear about X Education ====

            count  conversion_rate  count_pct
is_missing
False        7033           0.4661      76.11
True         2207           0.1282      23.89

Lift (not-missing minus missing): 0.3379

==== Missingness vs Conversion: Specialization ====

            count  conversion_rate  count_pct
is_missing
False        7802           0.4371      84.44
True         1438           0.1050      15.56

Lift (not-missing minus missing): 0.3321

==== Missingness vs Conversion: City ====

            count  conversion_rate  count_pct
is_missing
False        7820           0.4357      84.63
True         1420           0.1085      15.37

Lift (not-missing minus missing): 0.3272

==== Missingness vs Conversion: Page Views Per Visit ====

            count  conversion_rate  count_pct
is_missing
False        9103           0.3802      98.52
True          137           0.7299       1.48

Lift (not-missing minus missing): -0.3497

==== Missingness vs Conversion: TotalVisits ====

            count  conversion_rate  count_pct
is_missing
False        9103           0.3802      98.52
True          137           0.7299       1.48

Lift (not-missing minus missing): -0.3497

==== Missingness vs Conversion: Last Activity ====

            count  conversion_rate  count_pct
is_missing
False        9137           0.3809      98.89
True          103           0.7864       1.11

Lift (not-missing minus missing): -0.4055

==== Missingness vs Conversion: Lead Source ====

            count  conversion_rate  count_pct
is_missing
False        9204           0.3837      99.61
True           36           0.8056       0.39

Lift (not-missing minus missing): -0.4219

==== Missingness vs Conversion: Last Notable Activity ====

            count  conversion_rate  count_pct
is_missing
False        9240           0.3854      100.0

Lift (not-missing minus missing): nan

ValueError: The internally computed table of expected frequencies has a zero element at (np.int64(1), np.int64(0)).

Lead Quality                                     4767
Asymmetrique Profile Index                       4218
Asymmetrique Activity Score                      4218
Asymmetrique Activity Index                      4218
Asymmetrique Profile Score                       4218
Tags                                             3353
What matters most to you in choosing a course    2709
Lead Profile                                     2709
What is your current occupation                  2690
Country                                          2461
How did you hear about X Education               2207
Specialization                                   1438
City                                             1420
Page Views Per Visit                              137
TotalVisits                                       137
Last Activity                                     103
Lead Source                                        36
dtype: int64

                                               missing_count  missing_pct
Lead Quality                                            4767    51.590909
Asymmetrique Profile Index                              4218    45.649351
Asymmetrique Activity Score                             4218    45.649351
Asymmetrique Activity Index                             4218    45.649351
Asymmetrique Profile Score                              4218    45.649351
Tags                                                    3353    36.287879
What matters most to you in choosing a course           2709    29.318182
Lead Profile                                            2709    29.318182
What is your current occupation                         2690    29.112554
Country                                                 2461    26.634199
How did you hear about X Education                      2207    23.885281
Specialization                                          1438    15.562771
City                                                    1420    15.367965
Page Views Per Visit                                     137     1.482684
TotalVisits                                              137     1.482684
Last Activity                                            103     1.114719
Lead Source                                               36     0.389610

===== Prospect ID =====
n_unique: 9240
Prospect ID
571b5c8e-a5b2-4d57-8574-f2ffb06fdeff    1
7927b2df-8bba-4d29-b9a2-b6e0beafe620    1
2a272436-5132-4136-86fa-dcc88c88f482    1
8cc8c611-a219-4f35-ad23-fdfd2656bd8a    1
0cc2df48-7cf4-4e39-9de9-19797f9b38cc    1
3256f628-e534-4826-9d63-4a8b88782852    1
2058ef08-2858-443e-a01f-a9237db2f5ce    1
9fae7df4-169d-489b-afe4-0f3d752542ed    1
20ef72a2-fb3b-45e0-924e-551c5fa59095    1
cfa0128c-a0da-4656-9d47-0aa4e67bf690    1
Name: count, dtype: int64

===== Lead Number =====
n_unique: 9240
Lead Number
579533    1
660737    1
660728    1
660727    1
660719    1
660681    1
660680    1
660673    1
660664    1
660624    1
Name: count, dtype: int64

===== Lead Origin =====
n_unique: 5
Lead Origin
Landing Page Submission    4886
API                        3580
Lead Add Form               718
Lead Import                  55
Quick Add Form                1
Name: count, dtype: int64

===== Lead Source =====
n_unique: 22
Lead Source
Google              2868
Direct Traffic      2543
Olark Chat          1755
Organic Search      1154
Reference            534
Welingak Website     142
Referral Sites       125
Facebook              55
NaN                   36
bing                   6
Name: count, dtype: int64

===== Do Not Email =====
n_unique: 2
Do Not Email
No     8506
Yes     734
Name: count, dtype: int64

===== Do Not Call =====
n_unique: 2
Do Not Call
No     9238
Yes       2
Name: count, dtype: int64

===== Converted =====
n_unique: 2
Converted
0    5679
1    3561
Name: count, dtype: int64

===== TotalVisits =====
n_unique: 42
TotalVisits
0.0    2189
2.0    1680
3.0    1306
4.0    1120
5.0     783
6.0     466
1.0     395
7.0     309
8.0     224
9.0     164
Name: count, dtype: int64

===== Total Time Spent on Website =====
n_unique: 1731
Total Time Spent on Website
0      2193
60       19
74       18
127      18
75       18
234      17
62       17
157      17
87       17
32       17
Name: count, dtype: int64

===== Page Views Per Visit =====
n_unique: 115
Page Views Per Visit
0.0    2189
2.0    1795
3.0    1196
4.0     896
1.0     651
5.0     517
1.5     306
6.0     244
2.5     241
NaN     137
Name: count, dtype: int64

===== Last Activity =====
n_unique: 18
Last Activity
Email Opened                 3437
SMS Sent                     2745
Olark Chat Conversation       973
Page Visited on Website       640
Converted to Lead             428
Email Bounced                 326
Email Link Clicked            267
Form Submitted on Website     116
NaN                           103
Unreachable                    93
Name: count, dtype: int64

===== Country =====
n_unique: 39
Country
India                   6492
NaN                     2461
United States             69
United Arab Emirates      53
Singapore                 24
Saudi Arabia              21
United Kingdom            15
Australia                 13
Qatar                     10
Hong Kong                  7
Name: count, dtype: int64

===== Specialization =====
n_unique: 20
Specialization
Select                               1942
NaN                                  1438
Finance Management                    976
Human Resource Management             848
Marketing Management                  838
Operations Management                 503
Business Administration               403
IT Projects Management                366
Supply Chain Management               349
Banking, Investment And Insurance     338
Name: count, dtype: int64

===== How did you hear about X Education =====
n_unique: 11
How did you hear about X Education
Select                   5043
NaN                      2207
Online Search             808
Word Of Mouth             348
Student of SomeSchool     310
Other                     186
Multiple Sources          152
Advertisements             70
Social Media               67
Email                      26
Name: count, dtype: int64

===== What is your current occupation =====
n_unique: 7
What is your current occupation
Unemployed              5600
NaN                     2690
Working Professional     706
Student                  210
Other                     16
Housewife                 10
Businessman                8
Name: count, dtype: int64

===== What matters most to you in choosing a course =====
n_unique: 4
What matters most to you in choosing a course
Better Career Prospects      6528
NaN                          2709
Flexibility & Convenience       2
Other                           1
Name: count, dtype: int64

===== Search =====
n_unique: 2
Search
No     9226
Yes      14
Name: count, dtype: int64

===== Magazine =====
n_unique: 1
Magazine
No    9240
Name: count, dtype: int64

===== Newspaper Article =====
n_unique: 2
Newspaper Article
No     9238
Yes       2
Name: count, dtype: int64

===== X Education Forums =====
n_unique: 2
X Education Forums
No     9239
Yes       1
Name: count, dtype: int64

===== Newspaper =====
n_unique: 2
Newspaper
No     9239
Yes       1
Name: count, dtype: int64

===== Digital Advertisement =====
n_unique: 2
Digital Advertisement
No     9236
Yes       4
Name: count, dtype: int64

===== Through Recommendations =====
n_unique: 2
Through Recommendations
No     9233
Yes       7
Name: count, dtype: int64

===== Receive More Updates About Our Courses =====
n_unique: 1
Receive More Updates About Our Courses
No    9240
Name: count, dtype: int64

===== Tags =====
n_unique: 27
Tags
NaN                                    3353
Will revert after reading the email    2072
Ringing                                1203
Interested in other courses             513
Already a student                       465
Closed by Horizzon                      358
switched off                            240
Busy                                    186
Lost to EINS                            175
Not doing further education             145
Name: count, dtype: int64

===== Lead Quality =====
n_unique: 6
Lead Quality
NaN                  4767
Might be             1560
Not Sure             1092
High in Relevance     637
Worst                 601
Low in Relevance      583
Name: count, dtype: int64

===== Update me on Supply Chain Content =====
n_unique: 1
Update me on Supply Chain Content
No    9240
Name: count, dtype: int64

===== Get updates on DM Content =====
n_unique: 1
Get updates on DM Content
No    9240
Name: count, dtype: int64

===== Lead Profile =====
n_unique: 7
Lead Profile
Select                         4146
NaN                            2709
Potential Lead                 1613
Other Leads                     487
Student of SomeSchool           241
Lateral Student                  24
Dual Specialization Student      20
Name: count, dtype: int64

===== City =====
n_unique: 8
City
Mumbai                         3222
Select                         2249
NaN                            1420
Thane & Outskirts               752
Other Cities                    686
Other Cities of Maharashtra     457
Other Metro Cities              380
Tier II Cities                   74
Name: count, dtype: int64

===== Asymmetrique Activity Index =====
n_unique: 4
Asymmetrique Activity Index
NaN          4218
02.Medium    3839
01.High       821
03.Low        362
Name: count, dtype: int64

===== Asymmetrique Profile Index =====
n_unique: 4
Asymmetrique Profile Index
NaN          4218
02.Medium    2788
01.High      2203
03.Low         31
Name: count, dtype: int64

===== Asymmetrique Activity Score =====
n_unique: 13
Asymmetrique Activity Score
NaN     4218
14.0    1771
15.0    1293
13.0     775
16.0     467
17.0     349
12.0     196
11.0      95
10.0      57
9.0        9
Name: count, dtype: int64

===== Asymmetrique Profile Score =====
n_unique: 11
Asymmetrique Profile Score
NaN     4218
15.0    1759
18.0    1071
16.0     599
17.0     579
20.0     308
19.0     245
14.0     226
13.0     204
12.0      22
Name: count, dtype: int64

===== I agree to pay the amount through cheque =====
n_unique: 1
I agree to pay the amount through cheque
No    9240
Name: count, dtype: int64

===== A free copy of Mastering The Interview =====
n_unique: 2
A free copy of Mastering The Interview
No     6352
Yes    2888
Name: count, dtype: int64

===== Last Notable Activity =====
n_unique: 16
Last Notable Activity
Modified                    3407
Email Opened                2827
SMS Sent                    2172
Page Visited on Website      318
Olark Chat Conversation      183
Email Link Clicked           173
Email Bounced                 60
Unsubscribed                  47
Unreachable                   32
Had a Phone Conversation      14
Name: count, dtype: int64

===== Prospect ID =====
n_unique: 9240
Prospect ID
571b5c8e-a5b2-4d57-8574-f2ffb06fdeff    1
7927b2df-8bba-4d29-b9a2-b6e0beafe620    1
2a272436-5132-4136-86fa-dcc88c88f482    1
8cc8c611-a219-4f35-ad23-fdfd2656bd8a    1
0cc2df48-7cf4-4e39-9de9-19797f9b38cc    1
3256f628-e534-4826-9d63-4a8b88782852    1
2058ef08-2858-443e-a01f-a9237db2f5ce    1
9fae7df4-169d-489b-afe4-0f3d752542ed    1
20ef72a2-fb3b-45e0-924e-551c5fa59095    1
cfa0128c-a0da-4656-9d47-0aa4e67bf690    1
Name: count, dtype: int64

===== Lead Origin =====
n_unique: 5
Lead Origin
Landing Page Submission    4886
API                        3580
Lead Add Form               718
Lead Import                  55
Quick Add Form                1
Name: count, dtype: int64

===== Lead Source =====
n_unique: 22
Lead Source
Google              2868
Direct Traffic      2543
Olark Chat          1755
Organic Search      1154
Reference            534
Welingak Website     142
Referral Sites       125
Facebook              55
NaN                   36
bing                   6
Name: count, dtype: int64

===== Do Not Email =====
n_unique: 2
Do Not Email
No     8506
Yes     734
Name: count, dtype: int64

===== Do Not Call =====
n_unique: 2
Do Not Call
No     9238
Yes       2
Name: count, dtype: int64

===== Last Activity =====
n_unique: 18
Last Activity
Email Opened                 3437
SMS Sent                     2745
Olark Chat Conversation       973
Page Visited on Website       640
Converted to Lead             428
Email Bounced                 326
Email Link Clicked            267
Form Submitted on Website     116
NaN                           103
Unreachable                    93
Name: count, dtype: int64

===== Country =====
n_unique: 39
Country
India                   6492
NaN                     2461
United States             69
United Arab Emirates      53
Singapore                 24
Saudi Arabia              21
United Kingdom            15
Australia                 13
Qatar                     10
Hong Kong                  7
Name: count, dtype: int64

===== Specialization =====
n_unique: 20
Specialization
Select                               1942
NaN                                  1438
Finance Management                    976
Human Resource Management             848
Marketing Management                  838
Operations Management                 503
Business Administration               403
IT Projects Management                366
Supply Chain Management               349
Banking, Investment And Insurance     338
Name: count, dtype: int64

===== How did you hear about X Education =====
n_unique: 11
How did you hear about X Education
Select                   5043
NaN                      2207
Online Search             808
Word Of Mouth             348
Student of SomeSchool     310
Other                     186
Multiple Sources          152
Advertisements             70
Social Media               67
Email                      26
Name: count, dtype: int64

===== What is your current occupation =====
n_unique: 7
What is your current occupation
Unemployed              5600
NaN                     2690
Working Professional     706
Student                  210
Other                     16
Housewife                 10
Businessman                8
Name: count, dtype: int64

===== What matters most to you in choosing a course =====
n_unique: 4
What matters most to you in choosing a course
Better Career Prospects      6528
NaN                          2709
Flexibility & Convenience       2
Other                           1
Name: count, dtype: int64

===== Search =====
n_unique: 2
Search
No     9226
Yes      14
Name: count, dtype: int64

===== Magazine =====
n_unique: 1
Magazine
No    9240
Name: count, dtype: int64

===== Newspaper Article =====
n_unique: 2
Newspaper Article
No     9238
Yes       2
Name: count, dtype: int64

===== X Education Forums =====
n_unique: 2
X Education Forums
No     9239
Yes       1
Name: count, dtype: int64

===== Newspaper =====
n_unique: 2
Newspaper
No     9239
Yes       1
Name: count, dtype: int64

===== Digital Advertisement =====
n_unique: 2
Digital Advertisement
No     9236
Yes       4
Name: count, dtype: int64

===== Through Recommendations =====
n_unique: 2
Through Recommendations
No     9233
Yes       7
Name: count, dtype: int64

===== Receive More Updates About Our Courses =====
n_unique: 1
Receive More Updates About Our Courses
No    9240
Name: count, dtype: int64

===== Tags =====
n_unique: 27
Tags
NaN                                    3353
Will revert after reading the email    2072
Ringing                                1203
Interested in other courses             513
Already a student                       465
Closed by Horizzon                      358
switched off                            240
Busy                                    186
Lost to EINS                            175
Not doing further education             145
Name: count, dtype: int64

===== Lead Quality =====
n_unique: 6
Lead Quality
NaN                  4767
Might be             1560
Not Sure             1092
High in Relevance     637
Worst                 601
Low in Relevance      583
Name: count, dtype: int64

===== Update me on Supply Chain Content =====
n_unique: 1
Update me on Supply Chain Content
No    9240
Name: count, dtype: int64

===== Get updates on DM Content =====
n_unique: 1
Get updates on DM Content
No    9240
Name: count, dtype: int64

===== Lead Profile =====
n_unique: 7
Lead Profile
Select                         4146
NaN                            2709
Potential Lead                 1613
Other Leads                     487
Student of SomeSchool           241
Lateral Student                  24
Dual Specialization Student      20
Name: count, dtype: int64

===== City =====
n_unique: 8
City
Mumbai                         3222
Select                         2249
NaN                            1420
Thane & Outskirts               752
Other Cities                    686
Other Cities of Maharashtra     457
Other Metro Cities              380
Tier II Cities                   74
Name: count, dtype: int64

===== Asymmetrique Activity Index =====
n_unique: 4
Asymmetrique Activity Index
NaN          4218
02.Medium    3839
01.High       821
03.Low        362
Name: count, dtype: int64

===== Asymmetrique Profile Index =====
n_unique: 4
Asymmetrique Profile Index
NaN          4218
02.Medium    2788
01.High      2203
03.Low         31
Name: count, dtype: int64

===== I agree to pay the amount through cheque =====
n_unique: 1
I agree to pay the amount through cheque
No    9240
Name: count, dtype: int64

===== A free copy of Mastering The Interview =====
n_unique: 2
A free copy of Mastering The Interview
No     6352
Yes    2888
Name: count, dtype: int64

===== Last Notable Activity =====
n_unique: 16
Last Notable Activity
Modified                    3407
Email Opened                2827
SMS Sent                    2172
Page Visited on Website      318
Olark Chat Conversation      183
Email Link Clicked           173
Email Bounced                 60
Unsubscribed                  47
Unreachable                   32
Had a Phone Conversation      14
Name: count, dtype: int64

Prospect ID contains ''
Lead Origin contains ''
Lead Source contains ''
Do Not Email contains ''
Do Not Call contains ''
Last Activity contains ''
Country contains ''
Specialization contains 'Select'
Specialization contains ''
How did you hear about X Education contains 'Select'
How did you hear about X Education contains ''
What is your current occupation contains ''
What matters most to you in choosing a course contains ''
Search contains ''
Magazine contains ''
Newspaper Article contains ''
X Education Forums contains ''
Newspaper contains ''
Digital Advertisement contains ''
Through Recommendations contains ''
Receive More Updates About Our Courses contains ''
Tags contains 'Not Provided'
Tags contains ''
Lead Quality contains ''
Update me on Supply Chain Content contains ''
Get updates on DM Content contains ''
Lead Profile contains 'Select'
Lead Profile contains ''
City contains 'Select'
City contains ''
Asymmetrique Activity Index contains ''
Asymmetrique Profile Index contains ''
I agree to pay the amount through cheque contains ''
A free copy of Mastering The Interview contains ''
Last Notable Activity contains ''

Missing Prospect ID: 0
Missing Lead Number: 0
Duplicate Prospect ID: 0
Duplicate Lead Number: 0